<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wglxy.example.dash1"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.D1" >
        <activity
            android:name="com.wglxy.example.dash1.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wglxy.example.dash1.F1Activity"
            android:label="@string/title_feature1"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dash1.F2Activity"
            android:label="@string/title_feature2"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dash1.F3Activity"
            android:label="@string/title_feature3"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dash1.F4Activity"
            android:label="@string/title_feature4"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dash1.F5Activity"
            android:label="@string/title_feature5"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dash1.F6Activity"
            android:label="@string/title_feature6"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dash1.AboutActivity"
            android:label="@string/title_about"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dash1.SearchActivity"
            android:label="@string/title_search"
            android:theme="@style/Theme.D1" />
        <activity
            android:name="com.wglxy.example.dash1.QuizActivity"
            android:label="@string/title_activity_quiz" >
        </activity>
        <activity
            android:name="com.wglxy.example.dash1.Quiz2Activity"
            android:label="@string/title_activity_quiz2" >
        </activity>
        <activity
            android:name="com.wglxy.example.dash1.Quiz3Activity"
            android:label="@string/title_activity_quiz3" >
        </activity>
        <activity
            android:name="com.wglxy.example.dash1.QuizResultActivity"
            android:label="@string/title_activity_quiz_result" >
        </activity>
        <activity
            android:name="com.wglxy.example.dash1.MissionActivity"
            android:label="@string/title_activity_mission" >
        </activity>
        <activity
            android:name="com.wglxy.example.dash1.ScanQRActivity"
            android:label="@string/title_activity_scan_qr" >
        </activity>
        <activity
            android:name="com.wglxy.example.dash1.ScannedOptions"
            android:label="@string/title_activity_scanned_options" >
        </activity>
        <activity
            android:name="com.wglxy.example.dash1.VideoPlayerActivity"
            android:label="@string/title_activity_video_player" >
        </activity>
        <activity
            android:name="com.wglxy.example.dash1.MissionCompleteActivity"
            android:label="@string/title_activity_mission_complete" >
        </activity>
    </application>

</manifest>