<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wglxy.example.dash1"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.D1" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".F1Activity"
            android:label="@string/title_feature1"
            android:theme="@style/Theme.D1" />
        <activity
            android:name=".F2Activity"
            android:label="@string/title_feature2"
            android:theme="@style/Theme.D1" />
        <activity
            android:name=".F3Activity"
            android:label="@string/title_feature3"
            android:theme="@style/Theme.D1" />
        <activity
            android:name=".F4Activity"
            android:label="@string/title_feature4"
            android:theme="@style/Theme.D1" />
        <activity
            android:name=".F5Activity"
            android:label="@string/title_feature5"
            android:theme="@style/Theme.D1" />
        <activity
            android:name=".F6Activity"
            android:label="@string/title_feature6"
            android:theme="@style/Theme.D1" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_about"
            android:theme="@style/Theme.D1" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_search"
            android:theme="@style/Theme.D1" />
        <activity
            android:name=".QuizActivity"
            android:label="@string/title_activity_quiz" >
        </activity>
        <activity
            android:name=".Quiz2Activity"
            android:label="@string/title_activity_quiz2" >
        </activity>
        <activity
            android:name=".Quiz3Activity"
            android:label="@string/title_activity_quiz3" >
        </activity>
        <activity
            android:name=".QuizResultActivity"
            android:label="@string/title_activity_quiz_result" >
        </activity>
        <activity
            android:name=".MissionActivity"
            android:label="@string/title_activity_mission" >
        </activity>
        <activity
            android:name=".ScanQRActivity"
            android:label="@string/title_activity_scan_qr" >
            
        </activity>
        <activity
            android:name=".ScannedOptions"
            android:label="@string/title_activity_scanned_options" >
           
        </activity>
    </application>

</manifest>